* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

header #high-score-button {
    color:rgb(202, 109, 187);
}

main {
    margin: 5% 20% 0 20%;
}

/*Beginning of dynamic html rules below*/

/*Intro sheet rules*/
main .intro-sheet button {
    margin: 10px auto 0 auto;
    width: 200px;
    color: #f3eded;
    background-color: #502184;
    padding: 9px 0px 9px 0px;
    border-radius: 8px;
    border: 0;
    font-size: large;
    text-align: center;
    display: block;
}

main .intro-sheet h1, h2 {
    text-align: center;
    padding-bottom: 20px;
}

/*Question sheet rules*/
main .question-sheet div {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    border-bottom: solid 2px #b9b5b5;
    font-family: Arial, Helvetica, sans-serif;
}

main .question-sheet h2 {
    margin: 10px 0 0 0;
    font-style: italic;
    font-weight: 200;
    color: #b9b5b5;
}


main .question-sheet div button {
    margin-top: 10px;
    width: 250px;
    color: #f3eded;
    background-color: #502184;
    padding: 9px 0px 9px 20px;
    border-radius: 8px;
    border: 0;
    font-size: large;
    text-align: left;
}